<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jzteam.barber.dao.EmployeeDao">
    <!-- 数据对象映射。 -->
    <resultMap id="EmployeeBaseMap" type="cn.jzteam.barber.dao.entity.EmployeeEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="entry_time" property="entryTime" jdbcType="VARCHAR"/>
        <result column="levae_time" property="levaeTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 表中所有字段。 -->
    <sql id="base_table_all_columns">
        `id`, `phone`, `password`, `name`, `sex`, `img`, `status`, `entry_time`, `levae_time`, `create_time`, `delete_flag`
    </sql>
    
    <!-- 判断要获取的列。 -->
    <sql id="base_sql_query_column">
        <choose>
            <when test="query.queryColumnStr != null">${query.queryColumnStr}</when>
            <otherwise><include refid="base_table_all_columns"/></otherwise>
        </choose>
    </sql>

    <!-- 共用sql部分，根据Query对象生成查询条件。FLOAT类型不支持相等查询 -->
    <sql id="base_sql_query_condition">
        <if test="query.id != null"> AND `id` = #{query.id, jdbcType=INTEGER} </if>
        <if test="query.phone != null"> AND `phone` = #{query.phone, jdbcType=VARCHAR} </if>
        <if test="query.password != null"> AND `password` = #{query.password, jdbcType=VARCHAR} </if>
        <if test="query.name != null"> AND `name` = #{query.name, jdbcType=VARCHAR} </if>
        <if test="query.sex != null"> AND `sex` = #{query.sex, jdbcType=TINYINT} </if>
        <if test="query.img != null"> AND `img` = #{query.img, jdbcType=VARCHAR} </if>
        <if test="query.status != null"> AND `status` = #{query.status, jdbcType=TINYINT} </if>
        <if test="query.entryTime != null"> AND `entry_time` = #{query.entryTime, jdbcType=VARCHAR} </if>
        <if test="query.levaeTime != null"> AND `levae_time` = #{query.levaeTime, jdbcType=VARCHAR} </if>
        <if test="query.createTimeBegin != null"> AND `create_time` >= #{query.createTimeBegin, jdbcType=TIMESTAMP} </if>
        <if test="query.createTimeEnd != null"> AND `create_time` &lt; #{query.createTimeEnd, jdbcType=TIMESTAMP} </if>
        <if test="query.deleteFlag != null"> AND `delete_flag` = #{query.deleteFlag, jdbcType=TINYINT} </if>
    </sql>

    <!-- 判断排序依据。 -->
    <sql id="base_sql_order_by">
        <choose>
            <when test="query.orderStr != null"> ORDER BY ${query.orderStr} </when>
            <otherwise> ORDER BY `id` ASC </otherwise>
        </choose>
    </sql>

    <!-- insert，Id会更新到Bean中，返回结果为新增到记录数。 -->
    <insert id="insert" parameterType="java.util.Map">
        <selectKey resultType="java.lang.Integer" keyProperty="entity.id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `employee` (
	        <trim suffixOverrides=",">
	       		<if test="entity.phone != null">
	       			`phone`, 
	       		</if>
	       		<if test="entity.password != null">
	       			`password`, 
	       		</if>
	       		<if test="entity.name != null">
	       			`name`, 
	       		</if>
	       		<if test="entity.sex != null">
	       			`sex`, 
	       		</if>
	       		<if test="entity.img != null">
	       			`img`, 
	       		</if>
	       		<if test="entity.status != null">
	       			`status`, 
	       		</if>
	       		<if test="entity.entryTime != null">
	       			`entry_time`, 
	       		</if>
	       		<if test="entity.levaeTime != null">
	       			`levae_time`, 
	       		</if>
	       		<if test="entity.createTime != null">
	       			`create_time`, 
	       		</if>
	       		<if test="entity.deleteFlag != null">
	       			`delete_flag`
	       		</if>
	        </trim>
        ) VALUES (
	        <trim suffixOverrides=",">
	        	<if test="entity.phone != null">
	        		#{entity.phone, jdbcType=VARCHAR}, 
	        	</if>
	        	<if test="entity.password != null">
	        		#{entity.password, jdbcType=VARCHAR}, 
	        	</if>
	        	<if test="entity.name != null">
	        		#{entity.name, jdbcType=VARCHAR}, 
	        	</if>
	        	<if test="entity.sex != null">
	        		#{entity.sex, jdbcType=TINYINT}, 
	        	</if>
	        	<if test="entity.img != null">
	        		#{entity.img, jdbcType=VARCHAR}, 
	        	</if>
	        	<if test="entity.status != null">
	        		#{entity.status, jdbcType=TINYINT}, 
	        	</if>
	        	<if test="entity.entryTime != null">
	        		#{entity.entryTime, jdbcType=VARCHAR}, 
	        	</if>
	        	<if test="entity.levaeTime != null">
	        		#{entity.levaeTime, jdbcType=VARCHAR}, 
	        	</if>
            	NOW(), 
	        	<if test="entity.deleteFlag != null">
	        		#{entity.deleteFlag, jdbcType=TINYINT}
	        	</if>
	        </trim>
        )
    </insert>
    
    
    <!-- insertBatch，批量插入 -->
    <insert id="insertBatch" parameterType="java.util.Map">
    	<foreach collection="list" item="entity" separator=";">

            INSERT INTO `employee` (
		        <trim suffixOverrides=",">
		       		<if test="entity.phone != null">
		       			`phone`, 
		       		</if>
		       		<if test="entity.password != null">
		       			`password`, 
		       		</if>
		       		<if test="entity.name != null">
		       			`name`, 
		       		</if>
		       		<if test="entity.sex != null">
		       			`sex`, 
		       		</if>
		       		<if test="entity.img != null">
		       			`img`, 
		       		</if>
		       		<if test="entity.status != null">
		       			`status`, 
		       		</if>
		       		<if test="entity.entryTime != null">
		       			`entry_time`, 
		       		</if>
		       		<if test="entity.levaeTime != null">
		       			`levae_time`, 
		       		</if>
		       		<if test="entity.createTime != null">
		       			`create_time`, 
		       		</if>
		       		<if test="entity.deleteFlag != null">
		       			`delete_flag`
		       		</if>
		        </trim>
	        ) VALUES (
		        <trim suffixOverrides=",">
		        	<if test="entity.phone != null">
		        		#{entity.phone, jdbcType=VARCHAR}, 
		        	</if>
		        	<if test="entity.password != null">
		        		#{entity.password, jdbcType=VARCHAR}, 
		        	</if>
		        	<if test="entity.name != null">
		        		#{entity.name, jdbcType=VARCHAR}, 
		        	</if>
		        	<if test="entity.sex != null">
		        		#{entity.sex, jdbcType=TINYINT}, 
		        	</if>
		        	<if test="entity.img != null">
		        		#{entity.img, jdbcType=VARCHAR}, 
		        	</if>
		        	<if test="entity.status != null">
		        		#{entity.status, jdbcType=TINYINT}, 
		        	</if>
		        	<if test="entity.entryTime != null">
		        		#{entity.entryTime, jdbcType=VARCHAR}, 
		        	</if>
		        	<if test="entity.levaeTime != null">
		        		#{entity.levaeTime, jdbcType=VARCHAR}, 
		        	</if>
            		NOW(), 
		        	<if test="entity.deleteFlag != null">
		        		#{entity.deleteFlag, jdbcType=TINYINT}
		        	</if>
		        </trim>
	        )
        
        </foreach>
        ;
    </insert>
    

    <!-- delete，根据主键删除指定表数据。 -->
<delete id="delete" parameterType="java.util.Map">
    DELETE FROM `employee` WHERE `id` =#{id, jdbcType=INTEGER}    </delete>
    
    
    <!-- deleteBatch，批量删除，根据id -->
    <delete id="deleteBatch" parameterType="java.util.Map">
    DELETE FROM `employee` WHERE `id` IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </delete>
    

    <!-- update，根据主键更新表数据。 -->
    <update id="update" parameterType="java.util.Map">
    UPDATE `employee`
        <set>
            <if test="entity.phone != null">`phone` = #{entity.phone, jdbcType=VARCHAR}, </if>
            <if test="entity.password != null">`password` = #{entity.password, jdbcType=VARCHAR}, </if>
            <if test="entity.name != null">`name` = #{entity.name, jdbcType=VARCHAR}, </if>
            <if test="entity.sex != null">`sex` = #{entity.sex, jdbcType=TINYINT}, </if>
            <if test="entity.img != null">`img` = #{entity.img, jdbcType=VARCHAR}, </if>
            <if test="entity.status != null">`status` = #{entity.status, jdbcType=TINYINT}, </if>
            <if test="entity.entryTime != null">`entry_time` = #{entity.entryTime, jdbcType=VARCHAR}, </if>
            <if test="entity.levaeTime != null">`levae_time` = #{entity.levaeTime, jdbcType=VARCHAR}, </if>
            <if test="entity.createTime != null">`create_time` = #{entity.createTime, jdbcType=TIMESTAMP}, </if>
            <if test="entity.deleteFlag != null">`delete_flag` = #{entity.deleteFlag, jdbcType=TINYINT}, </if>
        </set>
        WHERE id = #{entity.id, jdbcType=INTEGER}
    </update>
    
    
    
    <!-- updateBatch，批量更新，根据id -->
<update id="updateBatch" parameterType="java.util.Map">
    	<foreach collection="list" separator=";" item="entity">
            UPDATE `employee`
	        <set>
	            <if test="entity.phone != null">`phone` = #{entity.phone, jdbcType=VARCHAR}, </if>
	            <if test="entity.password != null">`password` = #{entity.password, jdbcType=VARCHAR}, </if>
	            <if test="entity.name != null">`name` = #{entity.name, jdbcType=VARCHAR}, </if>
	            <if test="entity.sex != null">`sex` = #{entity.sex, jdbcType=TINYINT}, </if>
	            <if test="entity.img != null">`img` = #{entity.img, jdbcType=VARCHAR}, </if>
	            <if test="entity.status != null">`status` = #{entity.status, jdbcType=TINYINT}, </if>
	            <if test="entity.entryTime != null">`entry_time` = #{entity.entryTime, jdbcType=VARCHAR}, </if>
	            <if test="entity.levaeTime != null">`levae_time` = #{entity.levaeTime, jdbcType=VARCHAR}, </if>
	            <if test="entity.createTime != null">`create_time` = #{entity.createTime, jdbcType=TIMESTAMP}, </if>
	            <if test="entity.deleteFlag != null">`delete_flag` = #{entity.deleteFlag, jdbcType=TINYINT}, </if>
	        </set>
	        WHERE id = #{entity.id, jdbcType=INTEGER}
    	</foreach>
    	;
    </update>
    
    <!-- update，根据条件更新 -->
    <update id="updateSpecial" parameterType="java.util.Map">
    UPDATE `employee`
        <set>
            <if test="entity.phone != null">`phone` = #{entity.phone, jdbcType=VARCHAR}, </if>
            <if test="entity.password != null">`password` = #{entity.password, jdbcType=VARCHAR}, </if>
            <if test="entity.name != null">`name` = #{entity.name, jdbcType=VARCHAR}, </if>
            <if test="entity.sex != null">`sex` = #{entity.sex, jdbcType=TINYINT}, </if>
            <if test="entity.img != null">`img` = #{entity.img, jdbcType=VARCHAR}, </if>
            <if test="entity.status != null">`status` = #{entity.status, jdbcType=TINYINT}, </if>
            <if test="entity.entryTime != null">`entry_time` = #{entity.entryTime, jdbcType=VARCHAR}, </if>
            <if test="entity.levaeTime != null">`levae_time` = #{entity.levaeTime, jdbcType=VARCHAR}, </if>
            <if test="entity.createTime != null">`create_time` = #{entity.createTime, jdbcType=TIMESTAMP}, </if>
            <if test="entity.deleteFlag != null">`delete_flag` = #{entity.deleteFlag, jdbcType=TINYINT}, </if>
        </set>
        <where>
            <include refid="base_sql_query_condition"/>
        </where>
    </update>
    
    
    <!-- incr，根据id把field字段增加delta，限于数字类型；mysql5.6以上版本 -->
<update id="incr" parameterType="java.util.Map">
UPDATE `employee`
        <set>
        	`${field}` = `${field}` + #{delta}, 
        </set>
        WHERE `id` = #{entity.id, jdbcType=INTEGER}
    </update>
    
    
    <!-- decr，根据id把field字段增加delta，限于数字类型；mysql5.6以上版本 -->
<update id="decr" parameterType="java.util.Map">
UPDATE `employee`
        <set>
        	`${field}` = `${field}` - #{delta}, 
        </set>
        WHERE `id` = #{entity.id, jdbcType=INTEGER}
    </update>
    

    <!-- selectById，根据主键获取唯一数据。 -->
    <select id="selectById" resultMap="EmployeeBaseMap" parameterType="java.util.Map">
    SELECT
    <include refid="base_table_all_columns"/>
    FROM `employee` WHERE id =#{id,
    jdbcType=INTEGER}    </select>


	<!-- selectByIds，根据主键获取记录列表 -->
    <select id="selectByIds" resultMap="EmployeeBaseMap" parameterType="java.lang.Integer">
    SELECT
    <include refid="base_table_all_columns"/>
    FROM `employee`
        <where> id IN 
	        <foreach collection="list" open="(" separator="," close=")" item="itemId">#{itemId}</foreach>
    	</where>
    </select>


    <!-- selectByIds，根据主键获取唯一数据。 -->
<select id="selectById_readLock" resultMap="EmployeeBaseMap" parameterType="java.util.Map">
    SELECT
    <include refid="base_table_all_columns"/>
    FROM `employee` WHERE id =#{id,
    jdbcType=INTEGER} FOR UPDATE
    </select>


    <!-- selectFirstOne，根据query条件过滤数据，按照主键生序排列获取第一条数据。 -->
    <select id="selectFirstOne" resultMap="EmployeeBaseMap" parameterType="java.util.Map">
    SELECT
    <include refid="base_table_all_columns"/>
    FROM `employee`
        <where>
            <include refid="base_sql_query_condition"/>
        </where>
        <include refid="base_sql_order_by" /> LIMIT 1
    </select>


    <!-- 根据query条件获取数据列表。 -->
    <select id="selectList" resultMap="EmployeeBaseMap" parameterType="java.util.Map">
    SELECT
    <include refid="base_sql_query_column"/>
    FROM `employee`
        <where>
            <include refid="base_sql_query_condition"/>
        </where>
        <include refid="base_sql_order_by" />
    </select>


    <!-- 根据query条件获取记录总数。 -->
<select id="queryCount" resultType="java.lang.Long" parameterType="java.util.Map">
    SELECT COUNT(*) FROM `employee`
        <where>
            <include refid="base_sql_query_condition"/>
        </where>
    </select>
    
    
    <!-- 根据query条件分页获取指定页码的数据。 -->
    <select id="queryPageList" resultMap="EmployeeBaseMap" parameterType="java.util.Map">
    SELECT
    <include refid="base_sql_query_column"/>
    FROM `employee`
        <where>
            <include refid="base_sql_query_condition"/>
        </where>
        <include refid="base_sql_order_by" />
        LIMIT ${query.startIndex}, ${query.pageSize}
    </select>

</mapper>

